.layout-container {
  display: flex;
  min-height: 100vh;
}


.main-content {
  flex-grow: 1;
  padding: 2rem;
  background-color: #f4f7fa; 
  color: #333;

  width: 100%;

  min-width: 0;

  overflow-x: auto;
}
