.auth-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #f4f7fa; 
}

.app-layout {
  height: 100%;
  width: 100%;
}

#root {
  
}
